<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= @lesson.description %>
</p>

<% @lesson.tags.any? %>
        <% @lesson.tags.each do |tag| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>

<p><b>Resources</b></p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
